{{ if .Site.Menus.main }}
<div class="menu switch switch-on"><i class="fas fa-bars"></i></div>
<div class="menu switch switch-off navOff"><i class="fas fa-times"></i></div>
<nav id="menu">
  <ul class="navOff">
    {{ range .Site.Menus.main.ByWeight }}
    <li>
      <a href="{{ .URL }}" title="{{ .Name }}"
      {{ if or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) }}
         class='current' aria-current='page'
      {{ end }}
      >{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
